/*

*/
.responstable {
  width: 350px;
  overflow: hidden;
  background: #FFF;
  color: #024457;
  border-radius: 10px;
  border: 1px solid #167F92;
}
.responstable tr {
  border: 1px solid #D9E4E6;
}
.responstable tr:nth-child(odd) {
  background-color: #EAF3F3;
}
.responstable th {
  display: none;
  border: 1px solid #FFF;
  background-color: #167F92;
  color: #FFF;
  padding: 1em;
}
.responstable tr th {
  display: table-cell;
  text-align: center;
}
.responstable td {
  display: block;
  word-wrap: break-word;
  text-align: center;
}
@media (min-width: 400px) {
  .responstable td {
    border: 1px solid #D9E4E6;
  }
}
.responstable th, .responstable td {
  text-align: center;
  margin: .5em 1em;
}
@media (min-width: 400px) {
  .responstable th, .responstable td {
    display: table-cell;
    padding: 1em;
  }
}
